@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Roboto:wght@700&display=swap");

:root {
  --font-logo: "Roboto", sans-serif;
  --font-primary: "Inter", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #d0cbcb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__padding {
  padding: 0 4rem;
}
